.favourite {
  display: flex;
  align-items: center;
}
.favourite h2 {
  font-family: Jost;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #1b1b1d;
}
.favourite p {
  font-family: Jost;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #64646a;
  width: 60%;
  padding: 20px 0;
}
.favourite a {
  font-family: Jost;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 126px;
  background-color: #1b1b1d;
  display: inline-block;
  transition: 300ms;
}
.favourite a:hover {
  background-color: #4a4a4e;
}
