.instant {
  display: flex;
  align-items: center;
  justify-content: center;
}
.instant h2 {
  font-family: Jost;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #1b1b1d;
}
.instant p {
  font-family: Jost;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #64646a;
  width: 70%;
  padding: 20px 0 40px 0;
}
.instant a {
  font-family: Jost;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 126px;
  background-color: #1b1b1d;
  display: inline-block;
  transition: all 0.3s ease;
}
.instant a:hover {
  background-color: #64646a;
}


@media (max-width:1200px) {
  .instant{
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    padding: 30px 0;
  }
 .instant p {
    width: 100%;
  } 
  .instant img{
    width: 100%;
  }
  .instant h2{
    font-size: clamp(32px, 1vw, 48px);
    line-height: clamp(36px, 1vw, 54px);
  }
    .instant p{
    font-size: clamp(16px, 1vw, 20px);
    line-height: clamp(20px, 1vw, 24px);
  }
  .instant a{
    font-size: clamp(14px, 1vw, 16px);
    line-height: clamp(20px, 1vw, 24px);
    padding: 15px 30px;
  }
}