.contact {
  padding: 50px 0;
  display: flex;
  text-align: start;
  align-items: start;
}
.contact .left,
.contact .right {
  width: 50%;
}
.contact .right {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: center;
}
.contact .right .item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact .left p {
  font-family: Jost;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #64646a;
  width: 80%;
}
.contact .right h3 {
  font-family: Jost;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 26px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #1b1b1d;
}
.contact .right .item h6 {
  font-family: Jost;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #64646a;
}
.contact .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact .icons img {
  background: #ffffff;
  box-shadow: 0px 12px 30px 0px #cdd1d647;
  padding: 10px;
  border-radius: 50%;
}
.contact .right .item img{
  background: #ffffff;
  box-shadow: 0px 12px 30px 0px #cdd1d647;
  padding: 10px;
  border-radius: 50%;
}